.absolute-box {
   padding: 3%; /*El "padding" es para dejar el espacio entre la caja y el texto*/
    position: absolute ; /*El "position: absolute" se posicionará respecto a la pantalla del navegador y ajustamos el posiciomiento con top, left, right, bottom*/
    top: 50%;                
    left: 50%;
    background-color: lightblue; /* Aqui ajustamos el color de la caja*/
    transform: translate(-50%, -50%) /* Con el "transform" nos permite mover el elemento y con el "translate" Lo utilizamos para centrar la caja*/
}   

.absolute-box:hover {  /* El "hover" Propiedades que quieres aplicar cuando el ratón está sobre el elemento */
    transition: 3s; /* Aplicas la transicion*/
    background-color: brown; /* Cambio el color*/
}

